<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mt-5">
                <p class="custom-p-small fs-9 mt-5">SERVICES</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto text-center mt-5">
                <a class="display-1 custom-h2 link-dark link-underline link-underline-opacity-0 custom-underline animated-text"
                    href="http://">Текстиль</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto text-center mt-5">
                <a class="display-1 custom-h2 link-dark link-underline link-underline-opacity-0 custom-underline animated-text"
                    href="http://">Одежда</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto text-center mt-5">
                <a class="display-1 custom-h2 link-dark link-underline link-underline-opacity-0 custom-underline animated-text"
                    href="http://">HoReCA</a>
            </div>
        </div>
    </div>
</section>
<section id="vorteile">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mt-5">
                <p class="custom-p-small fs-9 mt-5">VORTEILE</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto text-center mt-5">
                <h2 class="custom-h2 animated-text">Почему стоит обратиться ко мне</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <div class="row justify-content-md-center animated-text">
                <div class="col-md-4 mx-auto text-center d-flex align-items-center justify-content-center mt-5">
                    <h2 class="display-5 custom-h2">Я Профи</h2>
                </div>
                <div
                    class="col-md-4 mx-auto text-center d-none d-md-flex align-items-center justify-content-center mt-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40" viewBox="0 0 52 40" fill="none"
                        class="d-none d-md-block">
                        <path
                            d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                            stroke="#2C2C2C"></path>
                    </svg>
                </div>
                <div class="col-md-4 mx-auto text-center text-md-start mt-5">
                    <h2 class="custom-h2-small">Более 10 лет опыта</h2>
                    <p class="custom-p-small">Разрабатываю уникальный стиль, который подчеркивает
                        индивидуальность.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-md-center animated-text">
                <div class="col-md-4 mx-auto text-center d-flex align-items-center justify-content-center mt-5">
                    <h2 class="display-5 custom-h2">Я Профи</h2>
                </div>
                <div
                    class="col-md-4 mx-auto text-center d-none d-md-flex align-items-center justify-content-center mt-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40" viewBox="0 0 52 40" fill="none"
                        class="d-none d-md-block">
                        <path
                            d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                            stroke="#2C2C2C"></path>
                    </svg>
                </div>
                <div class="col-md-4 mx-auto text-center text-md-start mt-5">
                    <h2 class="custom-h2-small">Более 10 лет опыта</h2>
                    <p class="custom-p-small">Разрабатываю уникальный стиль, который подчеркивает
                        индивидуальность.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-md-center animated-text">
                <div class="col-md-4 mx-auto text-center d-flex align-items-center justify-content-center mt-5">
                    <h2 class="display-5 custom-h2">Я Профи</h2>
                </div>
                <div
                    class="col-md-4 mx-auto text-center d-none d-md-flex align-items-center justify-content-center mt-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40" viewBox="0 0 52 40" fill="none"
                        class="d-none d-md-block">
                        <path
                            d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                            stroke="#2C2C2C"></path>
                    </svg>
                </div>
                <div class="col-md-4 mx-auto text-center text-md-start mt-5">
                    <h2 class="custom-h2-small">Более 10 лет опыта</h2>
                    <p class="custom-p-small">Разрабатываю уникальный стиль, который подчеркивает
                        индивидуальность.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-md-center animated-text">
                <div class="col-md-4 mx-auto text-center d-flex align-items-center justify-content-center mt-5">
                    <h2 class="display-5 custom-h2">Я Профи</h2>
                </div>
                <div
                    class="col-md-4 mx-auto text-center d-none d-md-flex align-items-center justify-content-center mt-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40" viewBox="0 0 52 40" fill="none"
                        class="d-none d-md-block">
                        <path
                            d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                            stroke="#2C2C2C"></path>
                    </svg>
                </div>
                <div class="col-md-4 mx-auto text-center text-md-start mt-5">
                    <h2 class="custom-h2-small">Более 10 лет опыта</h2>
                    <p class="custom-p-small">Разрабатываю уникальный стиль, который подчеркивает
                        индивидуальность.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-md-center animated-text">
                <div class="col-md-4 mx-auto text-center d-flex align-items-center justify-content-center mt-5">
                    <h2 class="display-5 custom-h2">Я Профи</h2>
                </div>
                <div
                    class="col-md-4 mx-auto text-center d-none d-md-flex align-items-center justify-content-center mt-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40" viewBox="0 0 52 40" fill="none"
                        class="d-none d-md-block">
                        <path
                            d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                            stroke="#2C2C2C"></path>
                    </svg>
                </div>
                <div class="col-md-4 mx-auto text-center text-md-start mt-5">
                    <h2 class="custom-h2-small">Более 10 лет опыта</h2>
                    <p class="custom-p-small">Разрабатываю уникальный стиль, который подчеркивает
                        индивидуальность.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mt-5">
                <p class="custom-p-small mt-5">ABOUT</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto text-center mt-5 animated-text">
                <h2 class="custom-h2 mb-1">О студии дизайна Оксаны Кун</h2>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-md-center">
            <div class="col-7 col-lg-4 mx-auto text-center d-flex align-items-center justify-content-center mt-2">
                <div class="elliptical-link-container elliptical-link-container-big">
                    <div class="ellipse ellipse-big"></div>
                    <img class="rotate-15 img-fluid elliptical-link" style="width: 100%;" src="img/me.png"
                        alt="Дизайн-студия">
                </div>
            </div>
            <div class="col-11 col-md-7 col-lg-4 mx-auto mt-5 text-center text-lg-start">
                <h2 class="custom-h2-small">Более 10 лет опыта</h2>
                <p class="custom-p-small">Счастлива, что имею возможность находиться
                    в маленьком городке Бад Дрибург в земле Северный Рейн-Вестфалия.</p>
                <p class="custom-p-small">Больше десяти лет работаю дизайнером одежды, также создаю
                    домашний
                    уют
                    с использованием креативного текстиля различной сложности.</p>
                <a class="custom-p fs-6 link-dark link-underline link-underline-opacity-0 elliptical-link custom-underline"
                    href="http://">подробнее</a>
            </div>
        </div>
    </div>
    <div class="container mt-5 d-none d-xl-block">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <h2 class="custom-h2">
                    Высокое качество ткани <span class="img-placeholder" data-src="img/cloth.png"></span>я
                    сочетаю
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <h2 class="custom-h2">
                    с трендовым дизайном, безупречным
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <h2 class="custom-h2">
                    пошивом и <span class="img-placeholder" data-src="img/cloth-2.png"></span>индивидуальным
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <h2 class="custom-h2">
                    подходом к каждому заказу <span class="img-placeholder" data-src="img/cloth-3.png"></span>
                </h2>
            </div>
        </div>
    </div>
</section>